html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 1440px;
    font-family: Roboto;
    width: 100%;
}

.features {
    max-width: 52.85vw;
    min-height: 37.7vw;
    margin: 171px auto;
    text-align: center;
}


.features-title h2 {
    color: rgb(61, 79, 159);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 6px;
}

.features-title p {
    color: rgb(61, 79, 159);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 94px;
    margin-top: 20px;
}

.features-cards-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    flex-wrap: wrap;
}

.features-cards-item {
    width: 140px;
    height: 254px;
}

.features-cards-item h3 {
    color: rgb(64, 116, 248);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}

.features-cards-item p {
    color: rgb(173, 179, 203);
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    width: 140px;
    margin-top: 33px;
}





.features-buttons-inner {
    max-width: 23.4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.buttons-readmore,
.buttons-getstarted {
    width: 113px;
    height: 43px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-readmore {
    color: rgb(212, 63, 63);
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    background-color: rgb(255, 215, 215);
}

.buttons-getstarted {
    color: rgb(58, 121, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    background-color: rgb(210, 225, 255);
}

/* info */
.info {
    display: flex;
    margin-bottom: 104px;
}

.info-left-item {
    background-color: rgba(104, 136, 255, 1.00);
    min-width: 50vw;
    min-height: 342px;
    display: flex;
    justify-content: flex-end;
}

.info-left-item-inner {
    margin-right: 90px;
    text-align: right;
    width: 260px;
}

.info-left-item-inner img {
    padding-top: 65px;
}

.info-description {
    color: rgb(255, 255, 255);

}

.info-description h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 3%;
    margin-top: 21px;
    padding-right: 3px;
    margin-bottom: 19px;

}

.info-description p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-indent: 20px;
    width: 100%;
}

.info-right-item {
    min-width: 50vw;
    min-height: 342px;
    background: linear-gradient(164.36deg, rgb(233, 239, 255) 41.561%, rgb(224, 233, 255) 81.529%);
    display: flex;
    align-items: center;
}


.info-right-item-inner {
    margin-left: 90px;
    padding-top: 22px;
}

.info-right-item-inner .info-description p,
.info-right-item-inner .info-description h3 {
    color: rgb(94, 128, 255);
}

.info-right-item-inner .info-description p {
    text-indent: 0;
    width: 313px;
}

/* resourse */

.resourses {
    text-align: center;
    max-width: 958px;
    min-height: 548px;
    margin: 0 auto;
    color: rgb(61, 79, 159);
}

.resourses h3 {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.resourses h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom: 94px;
    margin-top: 21px;
}


.resourses-inner {
    display: flex;
    justify-content: center;
    gap: 67px;
    padding-top: 34px;
    padding-right: 7px;
    flex-wrap: wrap;
}

.resourses-left-card {
    display: grid;
    grid-template-areas:
        "one one two"
        "one one three";
    gap: 14px;
    margin-top: 29px;
}

.resourses-mg-1 {
    width: 267px;
    height: 267px;
    grid-area: one;
    /* background-image: url(../img/resourses-1.png); */

}

.resourses-mg-2,
.resourses-mg-3 {
    width: 127px;
    height: 127px;
}

.resourses-mg-2 {
    grid-area: two;
}

.resourses-mg-3 {
    grid-area: three;

}

.resourses-right-card {
    width: 408px;
    height: 267px;
    text-align: left;
}

.resourses-right-card h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 35px;
}

.resourses-right-card p {
    color: rgb(141, 150, 189);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.button-resourses {
    display: block;
    background: rgb(210, 225, 255);
    color: rgb(58, 121, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    width: 113px;
    height: 43px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}


@media screen and (max-width:920px) {

    .features {
        max-width: 85vw;
        min-height: 45vw;
        margin: 50px auto;
        text-align: center;
    }

    .features-cards-inner {
        margin-bottom: 0px auto 200px;
    }

    .features-buttons-inner {
        text-align: center;
        max-width: 50vw;
    }

    .info {
        padding-top: 20px;
    }

}

@media screen and (max-width:768px) {

    .features-cards-inner {
        display: flex;
        justify-content: center;
        margin-bottom: 92px;
        flex-wrap: wrap;
    }

    .info-left-item-inner {
        margin-right: 25px;
    }

    .info-right-item-inner {
        margin-left: 25px;
    }

    .info-right-item {
        max-width: 41vw;
    }

    .info-description p {
        max-width: 41vw;
    }
}

@media screen and (max-width:480px) {

    .info {
        flex-wrap: wrap;
    }

    .info-left-item {
        width: 100%;
    }

    .info-right-item {
        min-width: 100vw;
    }

    .resourses-left-card {
        grid-template-areas:
            "one one"
            "two three";
    }
}